<div class="top">
	
	<header>
		<ul class="top-left-bar">
			<li><a><%= image_tag "checkr-logo.png", class: "logo" %></a></li>
			<li>PRODUCT</li>
			<li>STAFFING</li>
			<li>INDUSTRIES</li>
			<li>RESOURCES</li>
			<li>COMPLIANCE</li>
 		</ul>

 		<ul class="top-right-bar">
 			<li>LOG IN</li>
 			<li id="get-started">GET STARTED</li>
 		</ul>
	</header>

	<div class="text-video">
		<div class="top-left-column">
			<h1>HIRE GREAT PEOPLE.<br />FASTER.</h1>
			<p>Checkr provides modern and compliant background <br /> checks for global enterprises and startups.</p>
			<button>EXPLORE NOW</button>
		</div>

		<div class="top-video">
			<video id="top" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png"></video>
		</div>
	</div>
</div>

<section class="clients">
	<h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
	<ul>
		<li class="clients-logo"><%= image_tag "Uber_white_2@2x.jpeg" %></li>
		<li class="clients-logo"><%= image_tag "instacart-logo@2x.png" %></li>
		<li class="clients-logo"><%= image_tag "Grubhub-logo.png" %></li>
		<li class="clients-logo"><%= image_tag "postmates_logo_s-1.png" %></li>
		<li class="clients-logo"><%= image_tag "zenefits.gif" %></li>
		<li class="clients-logo"><%= image_tag "lyft_high_res.png" %></li>
	</ul>
</section>

<section class="value-proposition">
	<h3>The Next Generation of Background Checks</h3>

	<div class="value-first-line">
		<div class="mobile-block">
			<p><%= image_tag "mobile-phone.png" %></p>
			<strong>Mobile-Friendly</strong>
			<p>Create a positive applicant experience with simple, mobile-friendly onboarding.</p>
		</div>

		<div class="easy-block">
			<p><%= image_tag "monitor.png" %></p>
			<strong>Easy to Understand</strong>
			<p>Color-coded reports and an intuitive interface makes it possible to review information faster. See a sample employee background report.</p>
		</div>

		<div class="automation-block">
			<p><%= image_tag "wheel.png" %></p>
			<strong>Convenient Automation</strong>
			<p>Reports and violations are categorized to help you remain compliant with individual assessment requirements.</p>
		</div>
	</div>
	<div class="value-second-line">
		<div class="communication-block">
			<p><%= image_tag "chat.png" %></p>
			<strong>Simplified and Compliant Communication</strong>
			<p>Automated compliance tools allow you to send adverse action communications in seconds, directly from your dashboard.</p>
		</div>

		<div class="fast-block">
			<p><%= image_tag "bar-chart.png" %></p>
			<strong>Fast and Accurate</strong>
			<p>Understand the profile of your applicants and find the best pool of candidates using integrated analytics and reports.</p>
		</div>		
	</div>
</section>

<section class="specific-industries">
	<h3>Tailored to Fit Your Industry’s Needs</h3>
</section>

<section class="compliance-and-security">
	<h3>Best in Class Compliance and Security</h3>
</section>

<section class="information">
	<h3>Information for Applicants</h3>
</section>

<section class="take-a-tour">
	<p>Take a tour</p>
	<p>See why Checkr is the most reliable option for your background check needs.</p>
	<button>SCHEDULE A DEMO</button>
</section>

<div class="footer">
	
</div>
