<div class="top">
	
	<header>
		<ul class="top-left-bar">
			<li><a><%= image_tag "checkr-logo.png", class: "logo" %></a></li>
			<li>PRODUCT</li>
			<li>STAFFING</li>
			<li>INDUSTRIES</li>
			<li>RESOURCES</li>
			<li>COMPLIANCE</li>
 		</ul>

 		<ul class="top-right-bar">
 			<li>LOG IN</li>
 			<li id="get-started">GET STARTED →</li>
 		</ul>
	</header>

	<div class="text-video">
		<div class="top-left-column">
			<h1>HIRE GREAT PEOPLE.<br />FASTER.</h1>
			<p>Checkr provides modern and compliant background <br /> checks for global enterprises and startups.</p>
			<button>EXPLORE NOW →</button>
		</div>

		<div class="top-video">
			<video id="top" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png"></video>
		</div>
	</div>
</div>

<section class="clients">
	<h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
	<ul class="clients-logos">
		<li><%= image_tag "instacart-logo@2x.png", class: "clients-logo" %></li>
		<li><%= image_tag "Grubhub-logo.png", class: "clients-logo" %></li>
		<li><%= image_tag "postmates_logo_s-1.png", class: "clients-logo" %></li>
		<li><%= image_tag "zenefits.gif", class: "clients-logo" %></li>
		<li><%= image_tag "lyft_high_res.png", class: "clients-logo" %></li>
	</ul>
</section>

<div class="footer">
	
</div>
