<div class="top">
	
	<header>
		<ul class="top-left-bar">
			<li><a><%= image_tag "checkr-logo.png", class: "logo" %></a></li>
			<div class="product-dropdown">
				<li class="dropdown-button">PRODUCT ▿</li>
				<ul class="product-dropdown-content">
					<li><a href="https://checkr.com/product/">Overview</a></li>
					<li><a href="https://checkr.com/product/screenings/">Screenings</a></li>
					<li><a href="https://checkr.com/product/compliance">Compliance</a></li>
					<li><a href="https://checkr.com/product/security">Security</a></li>
				</ul>
			</div>
			<li>STAFFING ▿</li>
			<li>INDUSTRIES ▿</li>
			<li>RESOURCES ▿</li>
			<li>COMPLIANCE</li>
 		</ul>

 		<ul class="top-right-bar">
 			<li>LOG IN</li>
 			<li><a href="https://checkr.com/contact-us/" class="button-started">GET STARTED →</a></li>
 		</ul>
	</header>

	<div class="text-video">
		<div class="top-left-column">
			<h1>HIRE GREAT PEOPLE.<br />FASTER.</h1>
			<p>Checkr provides modern and compliant background <br /> checks for global enterprises and startups.</p>
			<a href="https://checkr.com/product/" class="button-explore">EXPLORE NOW →</a>
		</div>

		<div class="top-video">
			<video id="top" poster="https://15743-presscdn-0-7-pagely.netdna-ssl.com/wp-content/themes/checkr/assets/video/Checkr_Hero_poster.png"></video>
		</div>
	</div>
</div>

<section class="clients">
	<h3>More Than 10,000 Businesses Trust Checkr for Their Background Screenings</h3>
	<ul class="clients-logos">
		<li><%= image_tag "instacart-logo@2x.png", class: "clients-logo" %></li>
		<li><%= image_tag "Grubhub-logo.png", class: "clients-logo" %></li>
		<li><%= image_tag "postmates_logo_s-1.png", class: "clients-logo" %></li>
		<li><%= image_tag "zenefits.gif", class: "clients-logo" %></li>
		<li><%= image_tag "lyft_high_res.png", class: "clients-logo" %></li>
	</ul>
</section>

<div class="footer">
	<ul class="terms">
		<ul class="terms-first-line">
			<a href="https://checkr.com/customer-agreement/">Customer Agreement<a>
			<a href="https://checkr.com/privacy-policy"> Policy</a>
		</ul>
		<ul class="terms-second-line">
			<a href="https://checkr.com/terms-of-service">Terms of Service</a>
			<a>© 2018 Checkr, Inc.</a>
		</ul>
	</ul>

	<p><%= image_tag "napbs.png", class: "napbs" %></p>
</div>
